/* Global */
.text-center {
	text-align: center;
	background-color: rgb(232, 204, 255);
}

form > fieldset > div {
	margin: 10px 60px;
	background-color: rgb(232, 204, 255);
}

/*orderdetail*/

textarea {
	width: 60vw;
	height: 300px;
	background-color: rgb(232, 204, 255);
}

/*place order*/

button {
	width: 100%;
	background-color: #a462f0;
}

